@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@font-face {
	font-family: 'Caveat', cursive;
	src: url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
}

.App {
	text-align: center;
	border: 3px solid slateblue;
	background: #283048;
	background: -webkit-linear-gradient(to right, #859398, #283048);
	background: linear-gradient(to right, #859398, #283048);
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-float infinite 3s ease-in-out;
	}
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.App-link {
	color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}
.li-todos {
	list-style: none;
}

.h1-todo {
	text-transform: uppercase;
	color: midnightblue;
	font-family: 'Caveat', cursive;
	font-size: 32px;
}

.input {
	background: white;
	box-sizing: border-box;
	height: 40px;
	font-size: 16px;
	font-weight: 0.5px;
	padding-left: 10px;
	border: 3px solid gray;
	color: gray;
}

input:focus {
	background: #edf1f5;
	border: 3px solid #86a8e7;
	outline: none;
	color: #86a8e7;
}

.todo-list-button {
	background-color: #86a8e7;
	border: 2px solid #264a8e;
	color: white;
	padding: 8px 20px;
	margin-left: 5px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	font-family: 'Times New Roman', Times, serif;
	cursor: pointer;
}

.todo-list-button:hover {
	background-color: rgb(22, 145, 120);
	color: rgb(39, 42, 75);
	border: 2px solid #86a8e7;
	transition: 0.3s;
}

.button-todo {
	background-color: #86a8e7;
	margin-left: 5px;
	border: 3px solid gray;
	box-sizing: border-box;
	color: rgb(84, 243, 41);
	font-size: 20px;
	height: 40px;
	text-align: center;
	padding-bottom: 4px;
	cursor: pointer;
}

.button-todo:hover {
	background-color: rgb(22, 145, 120);
	color: rgb(39, 42, 75);
	transition: 0.3s;
}

.button-clear-all {
	background-color: #d60d0d;
	margin-left: 5px;
	border: 3px solid gray;
	box-sizing: border-box;
	color: rgb(247, 247, 247);
	font-size: 20px;
	height: 40px;
	text-align: center;
	padding-bottom: 4px;
	cursor: pointer;
}

.button-clear-all:hover {
	background-color: rgb(201, 39, 10);
	color: rgb(39, 42, 75);
	transition: 0.3s;
}
